<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Elements</title>

    <link rel="stylesheet" href="../assets/css/output.css">
</head>

<body>

    <div class="container mx-auto py-8 flex flex-col items-center gap-y-10">
        <nav><a href="/" class="text-xl font-bold flex items-center gap-3 text-blue-600 hover:text-blue-800"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20">
                    <path fill="currentColor"
                        d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg> Back</a></nav>

        <mvv-carousel class="space-y-10">
            <div is="mvv-carousel-scrollview">
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 1</div>
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 2</div>
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 3</div>

                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 4</div>
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 5</div>
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 6</div>

                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 7</div>
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 8</div>
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 9</div>
                
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 10</div>
                <div class="text-center text-2xl font-bold bg-stone-800 text-white py-10 px-12">Slide 11</div>
            </div>

            <div class="flex gap-4 items-center">
                <div class="flex items-center gap-3">
                    <button class="w-5 h-5" is="mvv-carousel-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path fill="currentColor"
                                d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                        </svg></button>
                    <button class="w-5 h-5" is="mvv-carousel-next"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path
                                d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                        </svg></button>
                </div>

                <ul is="mvv-carousel-dots"></ul>
            </div>
        </mvv-carousel>

    </div>


    <script src="../assets/js/script.js"></script>
</body>

</html>