<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Elements</title>

    <link rel="stylesheet" href="../assets/css/output.css">
</head>

<body>

    <div class="container mx-auto py-8 flex flex-col items-center gap-y-10">
        <nav><a href="/" class="text-xl font-bold flex items-center gap-3 text-blue-600 hover:text-blue-800"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20"><path fill="currentColor" d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg> Back</a></nav>

        <mvv-dropdown class="inline-block relative ">
            <details>
                <summary class="px-5 py-2 rounded border-teal-100 border bg-teal-500 text-white hover:bg-teal-600 font-semibold flex items-center gap-3">Dropdown Button
                    <mvv-dropdown-icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15" height="15"><path fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg></mvv-dropdown-icon>
                </summary>
                <mvv-dropdown-content class="rounded shadow-lg border border-zinc-200 py-2 absolute top-full min-w-50 mt-2 right-1/2 translate-x-1/2">
                    <ul class="flex flex-col">
                        <button class="text-left px-5 font-medium py-2 hover:bg-cyan-50">Homepage</button>
                        <button class="text-left px-5 font-medium py-2 hover:bg-cyan-50">About</button>
                        <button class="text-left px-5 font-medium py-2 hover:bg-cyan-50">Projects</button>
                        <button class="text-left px-5 font-medium py-2 hover:bg-cyan-50">Contact</button>
                    </ul>
                </mvv-dropdown-content>
            </details>
        </mvv-dropdown>
    </div>


    <script src="../assets/js/script.js"></script>
</body>

</html>