<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Elements</title>

    <link rel="stylesheet" href="../assets/css/output.css">
</head>

<body>

    <div class="container mx-auto py-8">

        <nav class="mb-10"><a href="/"
                class="text-xl font-bold flex items-center gap-3 text-blue-600 hover:text-blue-800"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20">
                    <path fill="currentColor"
                        d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                </svg> Back</a></nav>

        <h2 class="text-2xl mb-8 font-bold">Common Tabs</h2>

        <mvv-tabs class="flex flex-wrap gap-x-5 justify-center">
            <details open name="common-tabs" class="open:bg-sky-100">
                <summary class="font-semibold px-5 py-3 border border-b-0 rounded-t ">Tab 1</summary>
            </details>
            <mvv-tabs-content class="border-t pt-5 w-full order-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan metus diam.
                Suspendisse porta orci id enim accumsan, ac dignissim felis iaculis. Praesent malesuada lectus nibh, eu
                rhoncus massa pretium vitae. Duis faucibus dapibus ex, id vestibulum nisi malesuada non. Duis sit amet
                eros eleifend, gravida lorem eu, aliquam erat. Vivamus eu odio diam. Sed laoreet porta sem et eleifend.
                Sed facilisis diam eget velit porta, in lacinia massa posuere. Fusce eget mi quam. Nulla imperdiet neque
                ut enim accumsan, non semper eros mattis. Maecenas a risus semper, mollis nulla vel, venenatis
                elit.</mvv-tabs-content>

            <details name="common-tabs" class="open:bg-sky-100">
                <summary class="font-semibold px-5 py-3 border border-b-0 rounded-t">Tab 2</summary>
            </details>
            <mvv-tabs-content class="border-t pt-5 w-full order-1">Phasellus congue orci elit, eget porta lectus porttitor quis. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Nunc ut quam eu sapien scelerisque gravida at nec mi. Proin euismod
                maximus dui, ut commodo libero maximus ac. Sed ornare finibus neque, in vulputate eros vestibulum vitae.
                Quisque at purus vulputate, fringilla orci vel, dignissim nulla. Fusce et dolor elit. Nulla quis nulla
                ac elit fringilla tincidunt eget vel urna. Suspendisse commodo lacus mi, non vehicula risus commodo ac.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer et
                nunc venenatis dui sodales pretium.</mvv-tabs-content>

            <details name="common-tabs" class="open:bg-sky-100">
                <summary class="font-semibold px-5 py-3 border border-b-0 rounded-t">Tab 3</summary>
            </details>
            <mvv-tabs-content class="border-t pt-5 w-full order-1">Pellentesque lacinia felis eget nibh rhoncus dictum. Nulla facilisi. Ut lacinia semper
                dolor, vitae tempor nisi scelerisque in. Integer porta condimentum libero, ac semper arcu scelerisque
                sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
                a faucibus nisl. Cras quis varius neque. Aenean porta nisl vel eros tempus, sit amet rhoncus est
                posuere. Pellentesque quis tortor ipsum. Sed finibus at turpis sed scelerisque. Phasellus metus orci,
                sollicitudin eget eros quis, egestas blandit lorem.</mvv-tabs-content>

        </mvv-tabs>

        <hr class="my-14 border-2">

        <h2 class="text-2xl mb-8 font-bold">Verical Tabs</h2>

        <mvv-tabs class="grid grid-cols-[200px_1fr] gap-y-5 vertical-tabs" style="--_rows: 3">
            <details open name="vertical-tabs" class="open:bg-sky-100 col-start-1">
                <summary class="font-semibold px-5 py-3 border border-r-0 rounded-l">Tab 1</summary>
            </details>
            <mvv-tabs-content class="border-l pl-5 col-start-2 row-start-1 -row-end-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan metus diam.
                Suspendisse porta orci id enim accumsan, ac dignissim felis iaculis. Praesent malesuada lectus nibh, eu
                rhoncus massa pretium vitae. Duis faucibus dapibus ex, id vestibulum nisi malesuada non. Duis sit amet
                eros eleifend, gravida lorem eu, aliquam erat. Vivamus eu odio diam. Sed laoreet porta sem et eleifend.
                Sed facilisis diam eget velit porta, in lacinia massa posuere. Fusce eget mi quam. Nulla imperdiet neque
                ut enim accumsan, non semper eros mattis. Maecenas a risus semper, mollis nulla vel, venenatis
                elit.</mvv-tabs-content>

            <details name="vertical-tabs" class="open:bg-sky-100 col-start-1">
                <summary class="font-semibold px-5 py-3 border border-r-0 rounded-l">Tab 2</summary>
            </details>
            <mvv-tabs-content class="border-l pl-5 col-start-2 row-start-1 -row-end-1">Phasellus congue orci elit, eget porta lectus porttitor quis. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Nunc ut quam eu sapien scelerisque gravida at nec mi. Proin euismod
                maximus dui, ut commodo libero maximus ac. Sed ornare finibus neque, in vulputate eros vestibulum vitae.
                Quisque at purus vulputate, fringilla orci vel, dignissim nulla. Fusce et dolor elit. Nulla quis nulla
                ac elit fringilla tincidunt eget vel urna. Suspendisse commodo lacus mi, non vehicula risus commodo ac.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer et
                nunc venenatis dui sodales pretium.</mvv-tabs-content>

            <details name="vertical-tabs" class="open:bg-sky-100 col-start-1">
                <summary class="font-semibold px-5 py-3 border border-r-0 rounded-l">Tab 3</summary>
            </details>
            <mvv-tabs-content class="border-l pl-5 col-start-2 row-start-1 -row-end-1">Pellentesque lacinia felis eget nibh rhoncus dictum. Nulla facilisi. Ut lacinia semper
                dolor, vitae tempor nisi scelerisque in. Integer porta condimentum libero, ac semper arcu scelerisque
                sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec
                a faucibus nisl. Cras quis varius neque. Aenean porta nisl vel eros tempus, sit amet rhoncus est
                posuere. Pellentesque quis tortor ipsum. Sed finibus at turpis sed scelerisque. Phasellus metus orci,
                sollicitudin eget eros quis, egestas blandit lorem.</mvv-tabs-content>

        </mvv-tabs>

    </div>

    <script src="../assets/js/script.js"></script>
</body>

</html>