mvv-accordion {
    --_duration: 0.3s;

    details[open] {
        mvv-accordion-arrow {
            rotate: calc(360deg * 5 + 180deg);
        }
        & + mvv-accordion-content {
            grid-template-rows: 1fr;
        }
    }

    mvv-accordion-arrow {
        transition: rotate calc(var(--_duration, 0.3s) * 5) ease;
    }

    mvv-accordion-content {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows var(--_duration, 0.3s) ease;
    }

    mvv-accordion-content-inner {
        overflow: hidden;
    }
}