@import "tailwindcss";
@import "./accordion.css";
@import "./tabs.css";
@import "./dropdown.css";

summary {
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

button {
    cursor: pointer;
}